.vPage .rightToolBar .logo_6 {
  background: url(https://raw.githubusercontent.com/emma2334/DM5-Viewer/master/img/view_tool_bak.png) no-repeat;
  background-position: -302px -14px;
}

.vPage.white .rightToolBar .logo_6 {
  background: url(https://github.com/emma2334/DM5-Viewer/raw/master/img/view_tool_bak_w.png) no-repeat;
  background-position: -302px -14px;
}

.chapterBar.tool {
  position: absolute;
  bottom: 57px;
  right: 0px;
}