body{
  left: 0px;
  position: relative;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
}
body.open{
  left: -240px;
  overflow-x: hidden;
  position: relative;
}
.bdblackcolor {
  background: #4A4A4A url(http://css122.us.cdndm.com/v201511201052/default/images/nr/bg.gif) repeat-x;
}
.bdblackcolor .flr{
  color: white;
}

#showimage{
  background: transparent !important;
}
#showimage.minify img{
  max-width: 90vw;
}

#navbar{
  position: fixed;
  top: 25%;
  right: 0px;
  z-index: 1000;
  background: #FFA63B;
  border-radius: 6px 0px 0px 6px;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
}
#navbar.open{
  right: 240px;
}
#navbar li{
  width: 24px;
  height: 24px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  opacity: 0.7;
}
#navbar li:hover{
  cursor: pointer;
  background-color: #FFC16E!important;
}
#navbar li:first-of-type{
  border-radius: 6px 0px 0px 0px;
}
#navbar li:last-of-type{
  border-radius: 0px 0px 0px 6px;
  border-bottom: 0px !important;
}
#navbar .list{
  background: url("https://raw.githubusercontent.com/emma2334/DM5-Veiwer/master/img/menu.png") no-repeat center;
}
#navbar .next{
  background: url("https://raw.githubusercontent.com/emma2334/DM5-Veiwer/master/img/next.png") no-repeat center;
}
#navbar .resize{
  background: url("https://raw.githubusercontent.com/emma2334/DM5-Veiwer/master/img/min.png") no-repeat center;
}
#navbar .resize.minify{
  background: url("https://raw.githubusercontent.com/emma2334/DM5-Veiwer/master/img/zoom.png") no-repeat center;
}
#navbar .scroll{
  background: url("https://raw.githubusercontent.com/emma2334/DM5-Veiwer/master/img/scroll.png") no-repeat center;
}
#navbar .scroll.stop{
  background: url("https://raw.githubusercontent.com/emma2334/DM5-Veiwer/master/img/stop.png") no-repeat center;
}
#navbar .setting{
  background: url("https://raw.githubusercontent.com/emma2334/DM5-Veiwer/master/img/setting.png") no-repeat center;
}

#menu{
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  right: -240px;
  background: #D6D6D6;
  position: fixed;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
}
#menu.open{
  right: 0px;
}
#menu .title{
  text-align: right;
  font-size: 50px;
  display: block;
  margin: 0px;
  padding: 20px;
  background-color: #1F1F1F;
  color: white;
}
#menu .content{
  padding: 20px;
  word-break: break-word;
  font-size: 16px;
  line-height: 28px;
}
#menu .content .innr8{
  font-size: 12px;
}
